/* Page background */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Box styling */
.box {
    width: 400px;
    margin: 100px auto;
    padding: 20px;

    background-color: white;
    font-size: 16px;

    border: 3px solid #4CAF50;
    border-radius: 8px;

    text-align: center;
}
